*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color:#c9d6ff ;
    background: linear-gradient(to right,#e2e2e2,#c9d6ff);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    /* display: none; */
}

.container-2{
   width: 100%;
   height: 100vh;
   display: none;
}

.head{
    display: flex;
    justify-content:space-between;
    position: relative;
}

.head::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.63);
    position: absolute;
    top: 70px;
}

.head button{
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

.user-details{
    width: auto;
    height: 35px;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    padding: 3px 5px;
    border-radius: 0 0 0 30px;
    color:#e2e2e2;
    background:linear-gradient(to right,#9383b8,#512da8);
    span{
    font-weight: 600;
    background-color: #9074d1;
    padding: 5px;
    border-radius: 10px;
    }
}

.user-details i{
    margin-left: 3px;
    font-size: 26px;
}
.bodysection{
    width: 100%;
    height: auto;
    display: flex;
}

.left-body{
width: 250px;
height:80vh;
position: relative;
top: 23px;
border-right: 1px solid  rgba(128, 128, 128, 0.200);
border-bottom: 1px solid  rgba(128, 128, 128, 0.200);
text-align: center;
padding-top: 20px;
}

.li-active{
    background-color: rgb(122, 146, 250);
}


 ul{
    display: block;
    text-align: left;
    margin-top: 30px;
    list-style-type:none;
}

ul li{
    cursor: pointer;
    width: 100%;
    height: 30px;
    padding: 5px;
    font-weight: 500;
    border: 1px solid rgba(128, 128, 128, 0.150);
    background-color: rgba(128, 128, 128, 0.315);
    transition: .2s all;
}
.todoli{
    cursor: pointer;
    width: 100%;
    height: 30px;
    padding: 5px;
    font-weight: 500;
    border: 1px solid rgba(128, 128, 128, 0.150);
    background-color: rgba(128, 128, 128, 0.315);
    transition: .2s all;
    list-style-type: decimal;
    text-align: left;
}
.center-body{
   position: relative;
   top: 53px;
   left: 50px;
   text-align: center;
   /* display: none; */
}

.changepassword{
    display: none;
}

.succesdisp{
    display: flex;
    align-items: center;
    color: green;
    gap: 10px;
    position: absolute;
    top: -20px;
    transition: .2s all;
    display: none;
}

.succesadd{
    display: flex;
    align-items: center;
    color: green;
    gap: 10px;
    position: absolute;
    top: -20px;
    transition: .2s all;
    display: none;
}


.errordisp{
    width: 100%;
    display: flex;
    align-items: center;
    color: red;
    gap: 10px;
    position: absolute;
    font-size: 12px;
    top: -18px;
    transition: .2s all;
    display: none;

}

.center-body input{
    display: block;
    width: 250px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px 10px;
}

.center-body button{
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.322);
    background-color: #cbd7fd;
    color: rgb(22, 14, 24);
}


.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
font-size:12px ;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 15px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color:#fff

}


.container form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%,49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%,100%{
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius:0 150px 100px 0;
}

.toggle{
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right,#5c6bc0,#512da8);
    color: #fff;
    position: relative;
    left: -100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
    opacity: 1;
}

.container.active .toggle{
transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);

}

.container.active .toggle-right{
    transform: translateX(200%);
}

.errornotf{
    position: absolute;
    top: 60px;
    color: red;
    font-weight: 600;
    opacity: 0;
    transition: .2s all ease-in-out;
}

.user-section{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    padding: 0 20px;
}